{% extends "master.html.twig" %}

{% block meta %}
    {% include "SuluWebsiteBundle:Extension:seo.html.twig" with {
        "seo": extension.seo|default([]),
        "content": content|default([]),
        "urls": urls|default([]),
        "shadowBaseLocale": shadowBaseLocale|default(),
        "defaultLocale": request.defaultLocale|default('de')
    } %}
{% endblock %}

{% block content %}
    <section class="slider">
        {% if content.top_slider[0] is defined %}
            {% include 'snippets/slider.html.twig' with{
                slider_content: content.top_slider[0]
            } %}
        {% endif %}
    </section>
    <section class="section-padding section-list-icon">
        <div class="container-w-menu">
            <h2 class="title-h2">{{ content.services is same as('') ? 'Our services' : content.services }}</h2>
            <div class="row">
                <div class="col-sm-11">
                    <ul class="list-icon">

                        {% for service in content.block_services %}
                            <li>
                                <a href="{{ service.ref_link }}" class="sub-list-icon upper" data-map="{{ service.hl_map_zone ?? '' }}">
                                    <div class="icon-rounded"><i class="fa fa-{{ service.icon_service }}"></i></div>
                                    <span class="list-icon-content"><span class="ezstring-field">{{ service.description_service }}</span></span>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="col-sm-19">
                    <!--?xml version="1.0" encoding="utf-8"?-->
                    <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="map-3d" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 883 509.6" style="enable-background:new 0 0 883 509.6;" xml:space="preserve">
<style type="text/css">
    .st0{fill:#F49800;stroke:#FFFFFF;stroke-width:0.4086;stroke-miterlimit:10;enable-background:new    ;}
    .st1{fill:#F49800;stroke:#FFFFFF;stroke-width:0.4086;stroke-miterlimit:10;}
    .st2{fill:#F49800;stroke:#FFFFFF;stroke-width:0.4763;stroke-miterlimit:10;enable-background:new    ;}
</style>
                        <g id="map">
                            <image style="overflow:visible;" width="1920" height="1098" xlink:href="https://www.enovos.lu/bundles/interactenovoswebsite/img/svg/map.png" transform="matrix(0.4632 0 0 0.4634 -0.2699 0.3958)">
                            </image>
                        </g>
                        <g id="produits-connectes" class="">
                            <g id="_x30_3_x5F_Produits_connectés_1_">
                                <polygon class="st0" points="383.4,274.7 389.4,264.1 411.5,276.1 417.4,280.4 417.4,288.6 405.7,295.2 383.4,283 		"></polygon>
                                <path class="st0" d="M487,198.7c3.4-1.2,6.5,1.7,6.5,4.4c0,2.7-2.9,3.9-2.9,3.9l17.7,9.6v2.9l-1.6,0.7v3l11.3,6.7l0,15.5l-0.3,10
			l6.3,3.6v3.3l-2.6,1.3v35.2l-1,0.5l6.4,3.6v11.8l-6.8,3.5l8.8,4.7v12l-40.2,22l-40-22.1v-11.8l8.5-4.9l-6.7-3.6v-1l-20.4,11.2
			l-23.3-13v-8l5.7-4.5l29.5-16.2l5.5,9.9l6.3-3.3l2.2,4v-29.9l-2.9-1.2v-3.1l6-3.3l0.4-26.2l0.1-0.5l11.5-6.3v-2.6l-2.3-1.3v-2.8
			c0,0,1.4-0.7,16.9-9.2c-0.1-0.1-0.3-0.2-0.4-0.3c-2.4-2-1.9-5.8,0.7-7.5C486.3,199,486.6,198.9,487,198.7z"></path>
                                <path class="st1" d="M470,191.7v0.9l3.3,2.7c0,0,4.9-7.2,14.5-6.8c9.6,0.3,12.8,3.7,15,5.2c1-0.6,3.1-2,3.1-2l0.4-0.9
			c0,0-6.8-7.4-18.1-7.3C476.9,183.4,470,191.7,470,191.7z"></path>
                                <path class="st0" d="M478.2,196.7v0.5l4,2.6c0,0,2.3-2.9,6.3-2.8c3.1,0,4.6,1.4,5.8,2.2c0.6-0.3,3.5-2.5,3.5-2.5l0.2-0.5
			c0,0-3.7-4-9.9-4S478.2,196.7,478.2,196.7z"></path>
                                <circle class="st0" cx="403" cy="260.8" r="2.8"></circle>
                                <path class="st0" d="M397.4,256.2l1.9,1.4c0,0,1.2-1.9,3-1.9s3.2,0.8,3.3,1.2c1.8-1.5,1.8-1.5,1.8-1.5s-1.2-2.2-4.8-2.2
			S397.4,256.2,397.4,256.2z"></path>
                                <path class="st0" d="M392.7,253l1.6,1.8c0,0,3.5-4.2,8.4-4.3c5.2-0.2,7.3,2.6,7.5,3c1.8-1.5,2-1.7,2-1.7s-2.4-4.2-9.7-3.9
			C397.5,248.1,392.7,253,392.7,253z"></path>
                                <circle class="st0" cx="430.8" cy="280.7" r="2.8"></circle>
                                <path class="st2" d="M424.8,277.3l2.3,1.6c0,0,1.4-2.1,3.6-2.1s3.7,1,4,1.4c2.1-1.8,2.1-1.8,2.1-1.8s-1.4-2.5-5.7-2.5
			C426.8,273.9,424.8,277.3,424.8,277.3z"></path>
                                <path class="st2" d="M419.3,273.6l1.9,2.1c0,0,4.2-4.8,9.9-5c6.2-0.2,8.7,3,8.9,3.4c2.1-1.8,2.3-1.9,2.3-1.9s-2.8-4.8-11.5-4.5
			C424.9,268,419.3,273.6,419.3,273.6z"></path>
                            </g>
                        </g>
                        <g id="efficacite-energetique" class="">
                            <g id="_x30_6_x5F_Efficacité_énergétique_1_">
                                <polygon class="st0" points="666,82.1 666,88.3 680.3,96.3 681.2,95.9 681.2,96.9 695.7,104.8 696.9,104.3 696.9,105.4
			711.2,113.2 760.4,86.2 757,80.6 769,87.3 769,153.9 757.7,160.1 752.4,157.1 749.2,159 763.8,167 763.8,183 712.8,211.4
			661.5,183.3 661.5,167.1 676.2,159 672.7,157.1 667.5,159.8 656.4,153.7 656.4,87.5 		"></polygon>
                            </g>
                        </g>
                        <g id="production-decentralisee" class="">
                            <g id="_x30_5_x5F_Production_décentralisée_1_">
                                <polygon class="st0" points="666,88.3 680.3,96.3 681.2,95.9 681.2,96.9 695.7,104.8 696.9,104.3 696.9,105.4 711.2,113.2
			760.4,86.2 746.8,64.2 746.2,63.4 738.8,67.6 731.4,55.4 730.4,55 723.3,59.1 716.1,47.1 715.2,46.6 666.1,73.6 		"></polygon>
                            </g>
                        </g>
                        <g id="ecomobilite" class="">
                            <g id="_x30_4_x5F_Ecomobilité">
                                <path class="st0" d="M340.5,65.3v9.8l2.1,1.2l2.3,1.3l2,1.1l6.4-5.3l0.6-0.5l1.3,1l0.5,0.6l12.7,21.7l1.3-0.3l11.1-8.5l0.9,0.5
			l11.4,21.3l0.5,0.9h0.8l0.4-0.3l11.1-8.6l0.7,0.5l10.8,21.3l0.7,0.3l14.5-7.4v14.6l1.1,0.8l1-0.5v-13.6l1.5-0.5l4.6,6.9l7.6,11.9
			l6.1,9.3l11.8-6.4l-12.2-18.7l1.3,0.7l10.4-20.2l2.5-1.2l11.9,7.5l0.2,0l5.2-8.7l6,3.7l0.3,0.1l1-0.3v-0.3c0,0-2.5-2.5,0.3-6.4
			c1.4,0.9,5.8,3.1,5.8,3.1l0.5,0.3c0,0,1.6-4.8,0.4-6.3c0,0-0.1-0.3-1.2-1c-2.4-1.3-7.2-3.9-7.2-3.9l0.6-1.2l2.6-1.4l10,8.2
			l0.6,0.3l0.5,0l9.9-19.5v12v0.3l1,0.4l1.8-1V70.7l3.4-1.9v-1.9l0.4-0.2l-4.1-2.3c-0.5-0.8-0.4-0.8-1-1.2s-6.2-3.4-6.2-3.4
			s-0.4-0.3-0.9,0c-0.2,0.1-0.2,0.1-0.2,0.1l-3.7-2.1l-3.6-2.1c0,0-0.3-0.7-1.1-1.1c-0.7-0.4-5.9-3.2-5.9-3.2s-0.5-0.3-0.9,0
			c-1.4-0.7-3.8-2.1-3.8-2.1l-0.2-13.7l-2.1-1.8H488l-1.4,0.6l0.2,0.4l0.4,0.2l1.1-0.5l1.4,1.2l-0.2,13.2l-1.6-1.1
			c0,0,0.1-0.5-1.5-1.3s-5.6-3.1-5.6-3.1s-0.5-0.1-0.8,0.2c-0.2,0.2-0.2,0.2-0.2,0.2l-3.4-2.3l-0.2-13.9l-1.9-1.3l-0.6-0.4l-1.5,0.9
			l0.5,0.5l1.4-0.7l1.5,1.1l-0.2,13.3l-2.7-1.6c0,0-0.4-0.6-1.3-1.1c-0.9-0.5-5.9-3.3-5.9-3.3s-0.6-0.1-0.8,0.1
			c-1.8-1-3.9-2.2-3.9-2.2l-0.1-13.7l-1.8-1.6l-0.6-0.2l-1.5,0.8l0.1,0.3l0.8,0.2l1.1-0.6l1.1,1l0,13.5l-2.8-1.7
			c0,0-0.1-0.5-0.9-0.9c-0.8-0.4-6.1-3.4-6.1-3.4s-0.6-0.3-0.9,0c-0.1,0.1-0.1,0.1-0.1,0.1l-3.8-2.2l-0.1-14l-1.8-1.4l-0.8-0.2
			l-1.3,0.8l-0.1,0.3l0.9,0.4l1.1-0.7l1.1,0.9l0,13.4l-2.6-1.5c0,0-0.2-0.6-0.7-1c-0.5-0.3-6.5-3.5-6.5-3.5s-0.7-0.2-0.9,0.2
			c-3.5-2.2-3.6-2.3-3.6-2.3l0-13.8l-2-1.4l-0.6-0.2l-1.6,0.7v0.4l0.8,0.5l1.2-0.6l1.2,0.8L429,15.4l-3.3-1.8l-11.8,6.2
			c0,0-0.7-0.7-1.5-0.2c-0.7,0.4-6.2,3.5-6.2,3.5s-1,1.5-1.2,1.9c-1.5,0.8-2.5,1.4-2.5,1.4l-0.1-13.4l1-0.7l1.1,0.5l0.9-0.3l0.1-0.4
			l-1.6-0.8l-2.7,1.4v14.1l-2.6,1.5l-0.8-0.4l-0.7,0.2l-6.1,3.5l-1.2,1.6l-2.7,1.6l0-13.1l1-0.8l1.5,0.6l0.5-0.4l0-0.4l-1.5-0.8
			l-2.5,1.7l-0.1,14.1l-2.5,1.4l-1.1-0.5l-6.8,3.6l-1.1,1.7l-2.9,1.6l0-13.5l1.2-0.7l1,0.8l0.7-0.4l0-0.5l-1.2-1l-2.7,1.5l-0.2,14.3
			l-2.5,1.3l-0.6-0.5l-0.5,0.1l-6.5,3.5l-1.2,1.7l0,0.2l-2.7,1.4l0-13.5l1-0.7l1,0.6l0.4,0.1l0.7-0.5l-1.5-1.2l-2.8,1.5l0,14.3
			l-2.6,1.3c0,0-0.7-0.5-1-0.4c-1.2,0.7-4.1,2.2-4.1,2.2v-7l1.8-3.3l1-0.5l0.1-0.4l-0.4-0.5l-1.8,1l-1.8,3.3l0,8.1l-1.8,1.1
			l-0.7,1.4l-5.2,2.9l0.4,0.2l0.1,2.6L340.5,65.3z"></path>
                            </g>
                        </g>
                        <g id="fourniture-de-gaz-100-naturel" class="">
                            <g id="fourniture-de-gaz-100-naturel_1_">
                                <polygon class="st0" points="139.5,147.9 169.5,164.5 173.3,161.9 143.8,145.4 		"></polygon>
                                <polygon class="st0" points="394.8,167.2 400.2,170.3 452.8,141.4 449.7,136.9 		"></polygon>
                                <path class="st0" d="M531.6,140.4l53.8,29.6c0,0,5.1,2.1,8.6,0l17.9-10.6l-5.5-3.3l-14.9,9.2c-0.9,0.5-2,0.5-2.9,0L537,136.8
			L531.6,140.4z"></path>
                                <path class="st0" d="M528.6,132.2l-29-16c-0.1-0.1-0.3-0.2-0.4-0.3c-0.9-0.5-5.4-3.1-10.1-0.6c-3,1.6-27.4,14.8-27.4,14.8l3.2,4.7
			l28.5-15.6l29.6,16.3L528.6,132.2z"></path>
                                <path class="st0" d="M709,260.1l66.9-36.9l-37.2-21c0,0,0.4-1.5,1.2-1.9c0.7-0.4,1.6,0,1.6,0s0.5-1.1,1.2-1.6c0.7-0.4,1.2,0,1.2,0
			l37.2,20.6c0,0,5.1,3.9,1.5,6.9c-2.4,1.4-33.3,18.4-67.5,37.2L709,260.1z"></path>
                                <path class="st0" d="M706.5,268c-41.7,22.9-84.9,46.7-84.9,46.7s-1.3,0.5-0.3,1.2s22.6,12.8,22.6,12.8l0.3,22.3l16.4,9.2
			c0,0,0.5,0.3,0.3,1.3c-0.2,1-0.9,2.6-2.6,2c-0.6,1.3-1.1,1.5-2.5,1.1c-2.2-1.3-16.7-9.7-16.7-9.7l-0.6-22.9
			c0,0-18.3-9.8-22.6-12.2c-4.3-2.5-5.1-5.6-0.2-8.3l84.6-46.7L706.5,268z"></path>
                                <path class="st0" d="M220.6,264.2c0,0,1-0.3,1.6,0.3c0.6,0.5,0.7,1.3,0.7,1.3s1.2-0.3,1.9,0c1.3,0.6,1.4,1.8,0.5,2.8
			c-3.3,2.4-11.1,6.9-11.1,6.9s-0.7,0.3-1.4-0.2c-0.7-0.5-1.2-1.3-1.3-1.7c-0.9,0.3-1.3,0.2-1.7-0.2s-1.5-2-0.3-2.9
			C213.9,268.1,220.6,264.2,220.6,264.2z"></path>
                            </g>
                        </g>
                        <g id="fourniture-delectricite-verte" class="">
                            <path class="st1" d="M291.9,213.8l-0.2-2.5l4.2,2.4c0,0-0.4,0.6,0.4,0.9c0,0,0.2,0,0.4-0.2c0.2-0.2,0.8-0.6,0.8-0.6s0.4-0.4,0-0.8
		c-0.3-0.3-0.8,0-0.8,0l-5.4-5.5l-5-0.6c0,0-0.3-0.3-0.7-0.1c-0.4,0.2-0.7,0.4-0.7,0.4s-0.5,0.3,0.1,0.7c0.3,0.2,0.5,0.2,0.5,0.2
		c0.1,0,0.2-0.1,0.3,0l4.3,2.4v2.4l-8.9-5.1h-0.7v2.6l0.3,0.3l0.7-0.2v-1.1l3.7,2v1.4c0,0,0.1,0.4,0.5,0.4c0.4,0,0.7-0.4,0.7-0.4
		v-0.7l3.2,1.9l0,2.6l-6.1,33.4c0,0,0,0.8,0.8,0.7c0.8-0.1,0.8-0.4,0.8-0.4l0.8-4.9l9.5,5.3l1,6.5c0,0,0.5,0.6,0.9,0.6
		c0.4,0,0.8,0,0.8,0l-6.1-41.3l-0.1-1.2l2.8,1.4v1.2c0,0-0.1,0.6,0.5,0.6c0.5,0,0.9-0.4,0.9-0.4l0-0.8l3.5,1.9v1.4
		c0,0,0.1,0.6,0.6,0.6c0.5,0,0.6-0.3,0.6-0.3v-1l0.4,0.2V219L291.9,213.8z M287.5,208.1l3.4,0.4l2.8,3L287.5,208.1z M291.5,223.3
		l-1.5-0.9l0.7-4.4L291.5,223.3z M285.9,244.2l2.3-12.8l4.8,2.6l2.3,15.3L285.9,244.2z M293.1,232.9l-4.6-2.3l1.2-7.1l2.1,1.1
		L293.1,232.9z"></path>
                            <path class="st1" d="M318.3,199.5L318,197l4.2,2.4c0,0-0.4,0.6,0.4,0.9c0,0,0.2,0,0.4-0.2c0.2-0.2,0.8-0.6,0.8-0.6s0.4-0.4,0-0.8
		c-0.3-0.3-0.8,0-0.8,0l-5.4-5.5l-5-0.6c0,0-0.3-0.3-0.7-0.1c-0.4,0.2-0.7,0.4-0.7,0.4s-0.5,0.3,0.1,0.7c0.3,0.2,0.5,0.2,0.5,0.2
		c0.1,0,0.2-0.1,0.3,0l4.3,2.4v2.4l-8.9-5.1h-0.7v2.6l0.3,0.3l0.7-0.2v-1.1l3.7,2v1.4c0,0,0.1,0.4,0.5,0.4c0.4,0,0.7-0.4,0.7-0.4
		v-0.7l3.2,1.9l0,2.6l-6.1,33.4c0,0,0,0.8,0.8,0.7c0.8-0.1,0.8-0.4,0.8-0.4l0.8-4.9l9.5,5.3l1,6.5c0,0,0.5,0.6,0.9,0.6
		c0.4,0,0.8,0,0.8,0l-6.1-41.3l-0.1-1.2l2.8,1.4v1.2c0,0-0.1,0.6,0.5,0.6c0.5,0,0.9-0.4,0.9-0.4l0-0.8l3.5,1.9v1.4
		c0,0,0.1,0.6,0.6,0.6s0.6-0.3,0.6-0.3v-1l0.4,0.2v-1.2L318.3,199.5z M313.8,193.9l3.4,0.4l2.8,3L313.8,193.9z M317.9,209.1
		l-1.5-0.9l0.7-4.4L317.9,209.1z M312.3,230l2.3-12.8l4.8,2.6l2.3,15.3L312.3,230z M319.5,218.7l-4.6-2.3l1.2-7.1l2.1,1.1
		L319.5,218.7z"></path>
                            <path class="st1" d="M344.7,184.7l-0.2-2.5l4.2,2.4c0,0-0.4,0.6,0.4,0.9c0,0,0.2,0,0.4-0.2c0.2-0.2,0.8-0.6,0.8-0.6s0.4-0.4,0-0.8
		c-0.3-0.3-0.8,0-0.8,0l-5.4-5.5l-5-0.6c0,0-0.3-0.3-0.7-0.1c-0.4,0.2-0.7,0.4-0.7,0.4s-0.5,0.3,0.1,0.7c0.3,0.2,0.5,0.2,0.5,0.2
		c0.1,0,0.2-0.1,0.3,0l4.3,2.4v2.4l-8.9-5.1h-0.7v2.6l0.3,0.3l0.7-0.2v-1.1l3.7,2v1.4c0,0,0.1,0.4,0.5,0.4s0.7-0.4,0.7-0.4v-0.7
		l3.2,1.9l0,2.6l-6.1,33.4c0,0,0,0.8,0.8,0.7c0.8-0.1,0.8-0.4,0.8-0.4l0.8-4.9l9.5,5.3l1,6.5c0,0,0.5,0.6,0.9,0.6s0.8,0,0.8,0
		l-6.1-41.3l-0.1-1.2l2.8,1.4v1.2c0,0-0.1,0.6,0.5,0.6c0.5,0,0.9-0.4,0.9-0.4l0-0.8l3.5,1.9v1.4c0,0,0.1,0.6,0.6,0.6
		s0.6-0.3,0.6-0.3v-1l0.4,0.2v-1.2L344.7,184.7z M340.2,179.1l3.4,0.4l2.8,3L340.2,179.1z M344.3,194.3l-1.5-0.9l0.7-4.4
		L344.3,194.3z M338.7,215.2l2.3-12.8l4.8,2.6l2.3,15.3L338.7,215.2z M345.9,203.9l-4.6-2.3l1.2-7.1l2.1,1.1L345.9,203.9z"></path>
                            <path class="st1" d="M573.9,37.2l-8.9,5.1v-2.4l4.3-2.4c0.1-0.1,0.2,0,0.3,0c0.1,0,0.2,0,0.5-0.2c0.5-0.4,0.1-0.7,0.1-0.7
		s-0.3-0.2-0.7-0.4c-0.4-0.2-0.7,0.1-0.7,0.1l-5,0.6l-5.4,5.5c0,0-0.5-0.4-0.8,0c-0.4,0.4,0,0.8,0,0.8s0.5,0.4,0.8,0.6
		c0.2,0.2,0.4,0.2,0.4,0.2c0.8-0.2,0.4-0.9,0.4-0.9l4.2-2.4l-0.2,2.5l-9.3,5.2v1.2l0.4-0.2v1c0,0,0.1,0.3,0.6,0.3s0.6-0.6,0.6-0.6
		v-1.4l3.5-1.9l0,0.8c0,0,0.3,0.4,0.9,0.4s0.5-0.6,0.5-0.6v-1.2l2.8-1.4l-0.1,1.2l-6.1,41.3c0,0,0.4,0,0.8,0c0.4,0,0.9-0.6,0.9-0.6
		l1-6.5l9.5-5.3l0.8,4.9c0,0,0,0.3,0.8,0.4c0.8,0.1,0.8-0.7,0.8-0.7l-6.1-33.4l0-2.6l3.2-1.9v0.7c0,0,0.3,0.4,0.7,0.4
		c0.4,0,0.5-0.4,0.5-0.4v-1.4l3.7-2v1.1l0.7,0.2l0.3-0.3v-2.6H573.9z M561.4,40.9l2.8-3l3.4-0.4L561.4,40.9z M565,51.9l-1.5,0.9
		l0.7-5.2L565,51.9z M569.1,73.6l-9.5,5.2l2.3-15.3l4.8-2.6L569.1,73.6z M565.3,52.9l1.2,7.1l-4.6,2.3l1.3-8.4L565.3,52.9z"></path>
                            <path class="st1" d="M547.5,22.9l-8.9,5.1v-2.4l4.3-2.4c0.1-0.1,0.2,0,0.3,0c0.1,0,0.2,0,0.5-0.2c0.5-0.4,0.1-0.7,0.1-0.7
		s-0.3-0.2-0.7-0.4c-0.4-0.2-0.7,0.1-0.7,0.1l-5,0.6l-5.4,5.5c0,0-0.5-0.4-0.8,0c-0.4,0.4,0,0.8,0,0.8s0.5,0.4,0.8,0.6
		c0.2,0.2,0.4,0.2,0.4,0.2c0.8-0.2,0.4-0.9,0.4-0.9l4.2-2.4l-0.2,2.5l-9.3,5.2v1.2l0.4-0.2v1c0,0,0.1,0.3,0.6,0.3s0.6-0.6,0.6-0.6
		v-1.4l3.5-1.9l0,0.8c0,0,0.3,0.4,0.9,0.4s0.5-0.6,0.5-0.6v-1.2l2.8-1.4l-0.1,1.2L530.4,73c0,0,0.4,0,0.8,0c0.4,0,0.9-0.6,0.9-0.6
		l1-6.5l9.5-5.3l0.8,4.9c0,0,0,0.3,0.8,0.4c0.8,0.1,0.8-0.7,0.8-0.7l-6.1-33.4l0-2.6l3.2-1.9V28c0,0,0.3,0.4,0.7,0.4
		c0.4,0,0.5-0.4,0.5-0.4v-1.4l3.7-2v1.1l0.7,0.2l0.3-0.3v-2.6H547.5z M535,26.6l2.8-3l3.4-0.4L535,26.6z M538.6,37.6l-1.5,0.9
		l0.7-5.2L538.6,37.6z M542.7,59.4l-9.5,5.2l2.3-15.3l4.8-2.6L542.7,59.4z M538.9,38.6l1.2,7.1l-4.6,2.3l1.3-8.4L538.9,38.6z"></path>
                            <path class="st1" d="M521.1,8.3l-8.9,5.1v-2.4l4.3-2.4c0.1-0.1,0.2,0,0.3,0c0.1,0,0.2,0,0.5-0.2c0.5-0.4,0.1-0.7,0.1-0.7
		s-0.3-0.2-0.7-0.4c-0.4-0.2-0.7,0.1-0.7,0.1l-5,0.6l-5.4,5.5c0,0-0.5-0.4-0.8,0c-0.4,0.4,0,0.8,0,0.8s0.5,0.4,0.8,0.6
		c0.2,0.2,0.4,0.2,0.4,0.2c0.8-0.2,0.4-0.9,0.4-0.9l4.2-2.4l-0.2,2.5l-9.3,5.2v1.2l0.4-0.2v1c0,0,0.1,0.3,0.6,0.3
		c0.5,0,0.6-0.6,0.6-0.6v-1.4l3.5-1.9l0,0.8c0,0,0.3,0.4,0.9,0.4c0.5,0,0.5-0.6,0.5-0.6v-1.2l2.8-1.4l-0.1,1.2l-5.8,39.3l1.4,0.8
		l1-5.9l9.5-5.3l0.8,4.9c0,0,0,0.3,0.8,0.4c0.8,0.1,0.8-0.7,0.8-0.7l-6.1-33.4l0-2.6l3.2-1.9v0.7c0,0,0.3,0.4,0.7,0.4
		c0.4,0,0.5-0.4,0.5-0.4V12l3.7-2V11l0.7,0.2l0.3-0.3V8.3H521.1z M508.6,12l2.8-3l3.4-0.4L508.6,12z M512.2,23l-1.5,0.9l0.7-5.2
		L512.2,23z M516.3,44.8l-9.5,5.2l2.3-15.3l4.8-2.6L516.3,44.8z M512.5,24l1.2,7.1l-4.6,2.3l1.3-8.4L512.5,24z"></path>
                            <path class="st0" d="M76.7,130.9c0,0,0.4,0.5,0.9,0.5s0.9-0.5,0.9-0.5V95.3c0,0,0.9-6.1,0.6-7.1c0.8,0,1.8-1.4,1.4-2.5l4.3-3.3
		l6.2-5.7l1.8-2.3l3.7-4.6c0,0,0.2-1.2-0.2-1.4c-0.4-0.2-6,3.9-6,3.9l-7.3,7.2l-3.5,4.6c0,0-1.5-0.9-2.7,0.3c-1.8-1.2-2-1.4-2-1.4
		l-5-1.5l-6.7,0c0,0-0.3,0.6-0.3,1c0,0.3,4.6,3.5,4.6,3.5l3.3,1.1l5.5,0.1l0.7,0.1l-0.3,4.4l-2.9,9.9l-0.6,8.9l0.3,0.4l1-0.1
		l2.4-6.7V130.9z"></path>
                            <path class="st0" d="M131.3,65.2c-2.2,0.4-4.7,1.6-4.8,1.5c-0.1,0-7.3,3.5-7.3,3.5l-4,2.3l-0.9-0.4c0,0-0.5-4.8-0.5-5
		s-1.3-6.3-1.3-6.3l-2.8-5.9c0,0-0.7-0.3-0.9,0c0,0-0.3,0.1-0.3,1.4c0,1.3,0.7,8.1,0.7,8.1l1.5,4.5l0.8,1.7l0.8,1.8
		c0,0-0.9,0.6-0.9,1.4c0,0.8,0.5,1.5,0.9,1.8c-3.2,4.6-5.3,8.9-6.9,12.1c-1,0.3-1.3,0-1.3,0l-1.9-3.2L99,80.8L95.1,78
		c0,0-1.2-0.4-1.5,0.2c-0.3,0.6,0.6,2.7,0.6,2.7l2.2,3.8l2.5,3.3l3,1.8l0.2,0.8l0.8,1.3l-0.3,2.5c0,0-4.4,10.4-4.6,19.7
		c0.1,0.6,0.1,0.6,0.1,0.6l0.8,0.3l0.2-0.7c0,0,3.2-7.7,3.2-8s0.3-1.9,0.3-1.9v30.1c0,0,0.3,0.8,0.5,0.8c0.2,0,0.8,0,0.8,0l0.6-0.5
		v-35l-0.1-4.7l1-1.8c0,0,1.3-1,1.3-1.4c0.1-0.4,0.9-1.8,0.9-1.8s1.1-0.7,1.3-0.7c0.2,0,2.1-0.7,2.1-0.7l0.9-0.2V118c0,0,0,1,0.9,1
		s1-0.9,1-0.9V87.8l4-2.2l5.1-4c0,0,0.8-0.9,0.8-1.3c0-0.3-0.6-0.4-0.6-0.4l-8.5,2.9l-0.9,0.5l0.2-7.3c0,0,1.2-0.2,1.5-0.7
		c0.4-0.5,0.2-1.2,0.2-1.2s3.5,0.6,9.5-3c6.1-3.7,7.3-4.4,7.3-4.4S133.5,64.7,131.3,65.2z M111.5,84.6l-2.3,1.9l2.3-4.5V84.6z"></path>
                        </g>
</svg>
                </div>
            </div>
        </div>
    </section>

    <section class="section-background section-box-1 w-content" style="background-image: url({{ content.customer_banner[0].url?? '' }});">
        <div class="container-w-menu">
            <h2 class="title-h2">{{ content.customer_title }}</h2>
            <div class="row customer-options">
                {% for option_customer in content.customer_o %}
                    {% if loop.index0 % 2 == 0 %}
                        <div class="col-md-11 col-sm-15 boxbox">
                            <h3 class="box-1-title upper">
                                <span class="ezstring-field">{{ option_customer.title }}</span>
                            </h3>
                            <div class="box-1 box-radius no-mt" style="height: 255px;">
                                <div class="icon-rounded-2"><i class="fa fa-user"></i></div>
                                <div class="wysiwyg">
                                    {{ option_customer.option_content|raw }}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-11 col-md-offset-2 col-sm-15 boxbox"><h3 class="box-1-title upper">
                                <span class="ezstring-field">{{ option_customer.title }}</span>
                            </h3>
                            <div class="box-1 box-radius no-mt" style="height: 255px;">
                                <div class="icon-rounded-2"><i class="fa fa-user"></i></div>
                                <div class="wysiwyg">
                                    {{ option_customer.option_content|raw }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </section>

    <section class="section-padding section-box-2">
        <div class="container-w-menu">
            <div class="row">
                <div class="col-md-14 col-sm-30">
                    <h3 class="title-h3">News</h3>

                    <div class="box-2">
                        <div class="box-2-img rounded mr-25">&nbsp;</div>
                        <div class="box-2-content">
                            <h4 class="box-2-title"><span class="ezstring-field">New pricing conditions</span></h4>
                            <div class="box-2-description"><em><div class="ezdate-field">31/05/2018</div></em></div>
                            <div class="box-2-description">
                                <div class="wysiwyg"><p class="paraClass">New pricing conditions FIX 3 naturgas valid from 1 July 2018 to 30 June 2021, for contracts signed in June 2018</p>
                                </div>
                            </div>
                            <a id="enovos_onpage_link_news_1" class="read-more" href="/en/Individuals/f/News/New-pricing-conditions38">Read more</a>
                        </div>
                    </div>

                    <div class="box-2">
                        <div class="box-2-img rounded mr-25">&nbsp;</div>
                        <div class="box-2-content">
                            <h4 class="box-2-title"><span class="ezstring-field">New pricing conditions</span></h4>
                            <div class="box-2-description"><em><div class="ezdate-field">31/05/2018</div></em></div>
                            <div class="box-2-description">
                                <div class="wysiwyg"><p class="paraClass">New pricing conditions FIX 1 naturgas valid from 1 July 2018 to 30 June 2019, for contracts signed in June 2018</p>
                                </div>
                            </div>
                            <a id="enovos_onpage_link_news_2" class="read-more" href="/en/Individuals/f/News/New-pricing-conditions37">Read more</a>
                        </div>
                    </div>

                    <div class="box-2">
                        <div class="box-2-img rounded mr-25">&nbsp;</div>
                        <div class="box-2-content">
                            <h4 class="box-2-title"><span class="ezstring-field">New pricing conditions</span></h4>
                            <div class="box-2-description"><em><div class="ezdate-field">31/05/2018</div></em></div>
                            <div class="box-2-description">
                                <div class="wysiwyg"><p class="paraClass">New pricing conditions FIX 1 naturstroum home valid from 1 July 2018 to 30 June 2019, for contracts signed in June 2018</p>
                                </div>
                            </div>
                            <a id="enovos_onpage_link_news_3" class="read-more" href="/en/Individuals/f/News/New-pricing-conditions36">Read more</a>
                        </div>
                    </div>

                    <div class="box-2">
                        <div class="box-2-img rounded mr-25">&nbsp;</div>
                        <div class="box-2-content">
                            <h4 class="box-2-title"><span class="ezstring-field">New pricing conditions</span></h4>
                            <div class="box-2-description"><em><div class="ezdate-field">31/05/2018</div></em></div>
                            <div class="box-2-description">
                                <div class="wysiwyg"><p class="paraClass">New pricing conditions FIX 3 naturstroum home valid from 1 July 2018 to 30 June 2021, for contracts signed in June 2018</p>
                                </div>
                            </div>
                            <a id="enovos_onpage_link_news_4" class="read-more" href="/en/Individuals/f/News/New-pricing-conditions35">Read more</a>
                        </div>
                    </div>
                    <a id="enovos_onpage_link_news_viewall" href="/en/Individuals/f/News" class="link-1 upper txt-c">View all news</a>

                </div>
                <div class="col-md-14 col-md-offset-2 col-sm-30">
                    <h3 class="title-h3">Recent documents</h3>

                    <a id="enovos_onpage_link_recentdocuments_1" class="doc-link" href="/en/content/download/290/file/2017-01_naturstroum_fourniture_par_defaut_FR.pdf">
                        <div class="doc-img">
                            <img src="https://www.enovos.lu/bundles/interactenovoswebsite/img/svg/enovos-file.svg" alt="">
                        </div>
                        <div class="doc-text">
                            <span class="ezstring-field">Tarifs intégrés pour la fourniture par défaut de l'électricité applicables à partir du 1er janvier 2017</span>
                        </div>
                        <span class="read-more">Read more</span>
                    </a>


                    <a id="enovos_onpage_link_recentdocuments_2" class="doc-link" href="/en/content/download/292/file/elec_fr_conditions_fourniture_defaut.pdf">
                        <div class="doc-img">
                            <img src="https://www.enovos.lu/bundles/interactenovoswebsite/img/svg/enovos-file.svg" alt="">
                        </div>
                        <div class="doc-text">
                            <span class="ezstring-field">Conditions générales pour la Fourniture par Défaut d’énergie électrique</span>
                        </div>
                        <span class="read-more">Read more</span>
                    </a>


                    <a id="enovos_onpage_link_recentdocuments_3" class="doc-link" href="/en/content/download/297/file/elec_fr_conditions_recours.pdf">
                        <div class="doc-img">
                            <img src="https://www.enovos.lu/bundles/interactenovoswebsite/img/svg/enovos-file.svg" alt="">
                        </div>
                        <div class="doc-text">
                            <span class="ezstring-field">Conditions générales pour la Fourniture du Dernier Recours d’énergie électrique</span>
                        </div>
                        <span class="read-more">Read more</span>
                    </a>


                    <a id="enovos_onpage_link_recentdocuments_4" class="doc-link" href="/en/content/download/709/file/elec_fr_condition_utilisation_reseau_SCC_creos.pdf">
                        <div class="doc-img">
                            <img src="https://www.enovos.lu/bundles/interactenovoswebsite/img/svg/enovos-file.svg" alt="">
                        </div>
                        <div class="doc-text">
                            <span class="ezstring-field">Conditions générales d'utilisation du réseau électrique Creos</span>
                        </div>
                        <span class="read-more">Read more</span>
                    </a>

                    <a id="enovos_onpage_link_recentdocuments_viewall" href="/en/Individuals/f/Documents-and-forms" class="link-1 upper txt-c">
                        Show more content
                    </a>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/public/js/pages/homepage.js') }}"></script>
{% endblock %}
